@font-face {
  font-family: 'space_range';
  src: url('../css/spaceranger.ttf')
}

:root {
  --Azul_Escuro: #202031;
  --Azul_Escuro_2: #0c1024;
  --Azul_Claro: #20294c;
  --Roxo: #49007e;
  --Amarelo_Escuro: #ffb238;
  --Amarelo_Claro: #fcc978;
}

.container_principal {
  background-color: var(--Azul_Escuro);
  width: 100%;
  height: 100%;
}

#nr-webreader {
  position: absolute;
}