.Home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'home_col1 home_col2';
    margin: 0 5%;
    min-height: 200vh;
    width: 90%;
    padding: 0;
}

.Imagens_slide{
    background-color: var(--Amarelo_Claro);
    height: 600px;
    width: 100%;
}


.Home-Col_1 {
    grid-area: 'home_col1';
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr, 2fr;
    grid-template-areas: 'carrosel' 'items';
    gap: 2rem;
}



.carrosel_home{
    grid-area: 'carrosel';
    padding: 1rem;
    border-radius: 200px;
    grid-row: span 2;
}

.items_home{
    grid-area: 'items';
}


.Home-Col_2 {
    grid-area: 'home_col2';
    grid-template-columns: 1fr 3fr;
}

.aling-cards-home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aling-cards-home>img {
    width: 100px;
}

.Home_items_List{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    
}

.Home_items{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--Azul_Escuro_2);
    color: white;
}

.img_nasa{
    max-width: 200px;
}

.img_nasa_aling{
    display: flex;
    align-items: center;
    justify-content: center;
}