main {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background-position: center;
    background-size: cover;
    background-color: black;
}

.PARALAX {
    overflow-x: hidden;
    overflow-y: hidden;
}


.PAGE_1 {}

.PAGE_2 {}

.PAGE_3 {}

.PAGE_1,
.PAGE_2,
.PAGE_3 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.circulo_1 {
    width: 150px;
    height: 150px;
    top: 1rem;
    background-color: var(--Amarelo_Escuro);
    border-radius: 50%;
    position: relative;
    z-index: 1;

}

.circulo_2 {
    width: 150px;
    height: 150px;
    background-color: var(--Amarelo_Escuro);
    border-radius: 50%;
}


.circulo_3 {
    width: 150px;
    height: 150px;
    background-color: var(--Amarelo_Escuro);
    border-radius: 50%;
}

.star {
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.4);
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: white;
}

.Eclipse_lua {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.Lua {
    width: 130px;
    height: 130px;
    top: 1.7rem;
    left: 0.5rem;
    background-color: white;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transition-timing-function: ease;
    animation-name: animate_lua;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;

}

@keyframes animate_lua {
    0% {
        transform:
            translate(-500%, 80%)
    }

    100% {
        transform:
            translate(0%, 0%)
    }
}


/* The animation code 
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }
  
  /* The element to apply the animation to 
  div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }
  */