.Home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'home_col1 home_col2';
    margin: 0 5%;
    min-height: 200vh;
    width: 90%;
    padding: 0;
}


.Home-Col_1 {
    grid-area: 'home_col1';
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr, 2fr;
    grid-template-areas: 'carrosel' 'items';
    background-color: red;
}

.carrosel_home{
    grid-area: 'carrosel';
    padding: 2rem;
    border-radius: 200px;
}

.items_home{
    grid-area: 'items';
}


.Home-Col_2 {
    grid-area: 'home_col2';
    grid-template-columns: 1fr 3fr;
}

.aling-cards-home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aling-cards-home>img {
    width: 100px;
}