.menu {
    min-width: 10vh;
    position: absolute;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.logo_name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    max-width: 350px;
}

.logo_img {
    width: 5vw;
    padding: 1rem;
    max-width: 120px;
    min-width: 70px;
}

.logo_name>div>span {
    font-family: 'space_range';
    font-size: 1.2rem;
}

.logo_name>div {
    font-family: 'space_range';
    font-size: 1rem;
}

.btn_menu_mobile {
    color: white;
    text-decoration: none;
}

.itens_menu_text {
    color: #FFF;
    font-family: 'space_range';
    font-size: 1.2rem;
}

.itens_menu {
    justify-content: space-around;
}