.Quests-grid {
    min-height: 100vh;
    
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.container_quests {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.card_quests {
    display: grid;
    grid-template-rows: 1fr 2fr 1 fr;
    background-color: var(--Azul_Escuro);
    border: solid var(--Azul_Escuro_2) 2px;
    border-radius: 20px;
    padding: 2rem;
    color: #FFF;
    z-index: 2;
}

.Pergunta {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: larger;
    font-size: 1.8rem;
}

.respostas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: justify;
    font-size: medium;
    font-size: 1.2rem;
    gap: 1rem;
}

.list_ordem{
    font-weight: bold;
    font-size: 1.3rem;
}


.send_resp{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.Nota{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    flex-direction: column;
}

.rocket{
    display: flex;
    align-items: center;
    justify-content: center;
}

.alternativas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.alternativas_list{
    display: flex;
    align-items: center;
    padding: 1rem;
}